

 <!-- blog-content -->
  <section class="hero-section about single-blog blog-content gap no-top">
  	<div class="container">
  		<div class="row">
  			<div class="offset-xl-2 col-xl-8 col-lg-12">
  				
			           
	  			<h1>Firma Bilgileri</h1>
                  <form class="blog-form">
                      <div class="restaurant">
                        <label for="fname">Marka:</label>
			            <div class="name-form">
                        <input type="text" name="fname" placeholder="Marka ismi giriniz." id="marka" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Şirket Ünvanı:</label>
                        <input type="text" name="fname" placeholder=" Şirket Ünvanı giriniz." id="sirkerunvani" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Vergi Dairesi:</label>
                        <input type="text" name="fname" placeholder="Vergi dairesi giriniz." id="vergidairesi" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">VKN:</label>
                        <input type="text" name="fname" placeholder="VKN giriniz." id="vkn" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Kurum Tipi:</label>
                        <div class="nice-select-one">
								<select id="kurumtip" class="nice-select Advice">
                                   
								  <option value="0">Kurum Tipi Seçiniz</option>
                        @for (int i = 0; i < Model.sirkettipleri.Count; i++)
                        {
                            <option value="@Model.sirkettipleri[i].Id">@Model.sirkettipleri[i].TypeName</option>
                        }
								</select>
						</div>
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Ülke:</label>
                        <div class="nice-select-one">
								<select id="ulke" class="nice-select Advice">
                                   
								  <option value="0">Ülke Seçiniz</option>
                        @for (int i = 0; i < Model.ulkeler.Count; i++)
                        {
                            <option value="@Model.ulkeler[i].Id">@Model.ulkeler[i].Name</option>
                        }
								</select>
						</div>
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">İl:</label>
								<select class="dropdownlar" id="il" >
								  <option value="0">İl seçmek için lütfen Ülke Seçiniz</option>
                      
								</select>
						
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">İlçe:</label>
								<select class="dropdownlar" id="ilce" >
								  <option value="0">İlçe seçmek için lütfen İl Seçiniz</option>
								</select>
                        <br><br>
                        </div>

                        
			            <div class="name-form">
                        <label for="fname">Adres:</label>
                        <textarea row="2" type="text" placeholder="Adres giriniz." name="fname" id="adres" ></textarea>
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">Email:</label>
                        <input type="text" name="fname" placeholder="E-mail adresgiriniz." id="emailadres" >
                        <br><br>
                        </div>
                        
			            <div class="name-form">
                        <label for="fname">Tel:</label>
                        <input type="number" name="fname" placeholder="Telefon numarası giriniz." id="tel" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Cep Telefonu:</label>
                            <input type="number" name="fname" placeholder="Telefon numarası giriniz." id="ceptel">
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Web:</label>
                        <input type="text" name="fname" placeholder="Web adresi giriniz." id="web" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Instagram:</label>
                        <input type="text" name="fname" placeholder="Instagram adresi giriniz." id="instagram" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Youtube:</label>
                        <input type="text" name="fname" placeholder="YouTube adresi giriniz." id="youtube" >
                        <br><br>
                        </div>
                        
                        
			            <div class="name-form">
                        <label for="fname">Harita Ülke:</label>
                        <div class="nice-select-one">
								<select id="haritaulke" class="nice-select Advice">
								  <option value="0">Harita Ülke Seçiniz</option>
                        @for (int i = 0; i < Model.ulkeler.Count; i++)
                        {
                            <option value="@Model.ulkeler[i].Id">@Model.ulkeler[i].Name</option>
                        }
								</select>
						</div>
                        <br><br>
                        </div>
                        
                        
			            <div class="name-form">
                        <label for="fname">Harita İl:</label>
								<select class="dropdownlar" id="haritail" >
								  <option value="0">Harita İl seçmek için lütfen Ülke Seçiniz</option>
								</select>
						
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">Harita İlçe:</label>
								<select class="dropdownlar" id="haritailce" >
								  <option value="0">Harita İlçe seçmek için lütfen İl Seçiniz</option>
								</select>
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">Harita Adres:</label>
                        <textarea row="2" type="text" placeholder="Harita Adresi giriniz." name="fname" id="hadres" ></textarea>
                        <br><br>
                        </div>

                        
			            <div class="name-form">
                        <label for="fname">KoordinatX:<span style="color:gray;margin-left: 5px;">örn; 39.951088476192886</span></label>
                        <input type="text" name="fname" placeholder="KoordinatX giriniz." id="kx" >
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">KoordinatY:<span style="color:gray;margin-left: 5px;">örn; 32.86711973882527</span></label>
                        <input type="text" name="fname" placeholder="KoordinatY giriniz." id="ky" >
                        <br><br>
                        </div>
                        
			            <div class="name-form">
                        <label for="fname">Uzun Açıklama Alanı:</label>
                        <textarea row="2" type="text" placeholder="Uzun açıklama giriniz." name="fname" id="ddesc" ></textarea>
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Kısa Açıklama Alanı:</label>
                        <textarea row="2" type="text" placeholder="Kısa açıklama giriniz." name="fname" id="sdesc" ></textarea>
                        <br><br>
                        </div>


                        <div style="margin-bottom: 10px" class="name-form">
                            <label for="fname">Logo:</label>
			              <div class="buttons">
                            <div class="upload-button">
                              <input id="files" name="files" type="file" size="1" accept="image/*" multiple onchange="uploadFiles('files');" />
                            </div>
                             </div>
                             </div>


                        <div class="name-form">
                            <label for="fname">PDF:</label>
			            <div class="buttons">
                            <div class="upload-button">
                              <input id="files2" name="files" type="file" size="1" accept=".pdf" multiple onchange="uploadFilesPdf('files2');" />
                            </div>
                             </div>
                             </div>

  		              </div>
                       
                    </form>
                    <button onclick=firmaKaydet(1) class="button-price mt-3">Kaydet</button>	
	  			
  			</div>
  		</div>
  	</div>
  </section>

  

  <script>
    
    var hst = "@Url.Action("UploderImage", "Login")";
    var hst1 = "@Url.Action("UploderDokuman", "Login")";
    var hstfkyt = "@Url.Action("firmaBilgiKaydet", "Login")";
    var hst3 = "@Url.Action("getCity", "Login")";
    var hst4 = "@Url.Action("getDistrict", "Login")";
	var user = @Html.Raw(Json.Serialize(@Model.userbilg));
</script>
	<script src="~/assets/js/tedfirma.js"></script>

