@model DFN2023.Admin.Models.CategoryPageModel
@{
    ViewData["Title"] = "Category";
}
<!--begin::Container-->
<div class="container">
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">

                </span>
                <h3 class="card-label"> </h3>
            </div>
            <div class="card-toolbar">

                <!--begin::Button-->
                <a href="#" onclick="kayitModalOpen()" class="btn btn-primary font-weight-bolder">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Yeni Kayıt
                </a>
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <!--begin: Datatable-->
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Ayarlar</th>
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Kodu</th>
                            <th>Resmi</th>
                            <th>Üst Kategori</th>
                            <th>Sıra Numarası</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--end: Datatable-->
        </div>
    </div>
    <!--end::Card-->
</div>


<div class="modal fade" id="exampleModalSizeLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kategori Ekle/Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label>
                        Adı
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_Name">
                </div>

                <div class="form-group">
                    <label>
                        Kod
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_Code">
                </div>

                <div class="form-group">
                    <label>
                        Resim :
                    </label>
                    <br />
                    <div class="image-input image-input-outline" id="p_Foto1" style="  ">

                        <div class="image-input-wrapper" style=""></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="profile_avatar" id="p_Foto1x" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Üst kategori
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_ParentId" class="form-control">
                        <option value="0">Ana Ürün Seçiniz..</option>

                        @for (int i = 0; i < Model.categoryList.Count; i++)
                        {
                            <option value="@Model.categoryList[i].Id">@Model.categoryList[i].Name</option>
                        }
                    </select>
                </div>
                

                


                <div class="form-group">
                    <label>
                        Sıralama

                    </label>
                    <input type="number" class="form-control" id="p_RowNum">
                </div>

                <div class="form-group">
                    <label>
                        Pasif/Aktif
                    </label>

                    <span class="switch">
                        <label>
                            <input type="checkbox" name="select" id="p_Status">
                            <span></span>
                        </label>
                    </span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="categoryKaydet()" class="btn btn-success font-weight-bold">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!--end::Container-->
@section Scripts{

    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var hst = "@Url.Action("getCategory", "Category")";
    </script>
    <script>
        var website = "@ViewData["website"]";
        var lngg = "@Model.language";
        var lng = "@Model.lang";
    </script>
    <script src="~/assets/custom/category.js"></script>
    <script src="~/assets/custom/common.js"></script>

}
