  
  <!-- blog-content -->
  <section class="hero-section about single-blog blog-content gap no-top">
  	<div class="container">
  		<div class="row">
  			<div class="offset-xl-2 col-xl-8 col-lg-12">
  				
	  			
	  			<div class="comment">
	  				<h2>XYZ Firması Mesajlarınız</h2>
	  			</div>
	  			<ul class="comment gap no-top">
					   @for (var i = 0; i < @Model.mesajdetay.Count; i++)
					  {
						  @if(@Model.mesajdetay[i].FromRolId==3){
					<li>
		  				<div class="comment-text">
		  					<p>@Model.mesajdetay[i].MessageContent</p>
		  				</div>
		  				<div class="author-name-comment">
		  					<div>
								<h6>Siz</h6>
			  					<span>@Model.mesajdetay[i].CreateDate</span>
		  					</div>
                                <!-- Kişinin yazışmalarında aşağıdaki görsel kalsın-->
			  					<img alt="man" src="https://via.placeholder.com/50x50">
		  				</div>
	  				</li>
						  }
						  
					   @if(@Model.mesajdetay[i].FromRolId==2){
						   <li class="reply one">
		  				<div class="comment-text">

		  					<p>@Model.mesajdetay[i].MessageContent</p>		  					
		  				</div>
		  				<div class="author-name-comment">
                             <!-- Karşı taraf şirketse, onların logosunu basacağız. -->
		  					<img alt="man" src="https://via.placeholder.com/50x50">
		  					<div>
								<h6>XYZ Şirketi</h6>
			  					<span>@Model.mesajdetay[i].CreateDate</span>
		  					</div>
			  					
		  				</div>
	  				</li>
						  }
	  				
					  }
	  			
	  				
	  				<li class="hide-button">
	  					<a href="#"><h6>Hide<i class="fa-solid fa-angle-up"></i></h6></a>
	  				</li>
	  				
	  				<li class="show-all-button">
	  					<h6>4 more answers <a href="#"><span>Show All<i class="fa-solid fa-angle-down"></i></span></a></h6>
	  				</li>
	  				<li>
	  					<div class="button-gap">
							<a href="#" class="button button-2 non">See all comments<i class="fa-solid fa-angle-down"></i></a>
						</div>
					</li>
	  			</ul>
	  			<div class="comment">
	  				<h2>Mesajınızı Giriniz</h2>
	  					<textarea id="mesajalani" placeholder="Enter you comment"></textarea>
	  					<button onclick="mesajYaz(@Model.selectcompanyid)" class="button-price">Mesajı Gönder</button>
	  				
	  				
	  			</div>
  			</div>
  		</div>
  	</div>
  </section>

  <script>
    var hst = "@Url.Action("mesajYazUser", "Mesaj")";
	var user="@Model.user"
</script>
	<script src="~/assets/js/mesajdetay.js"></script>