 <!-- blog-content -->
  <section class="hero-section about single-blog blog-content gap no-top">
  	<div class="container">
  		<div class="row">
  			<div class="offset-xl-2 col-xl-8 col-lg-12">
  				
	  			
	  			<div class="comment">
					@if (@Model.mokunmamiscount>0)
					{
						<h2><span>@Model.mokunmamiscount</span> Yeni Mesajınız Var</h2>
					}
					else
					{
						
					<h2>Yeni Mesajınız Bulunmamaktadır</h2>
					}
				</div>
	  			<ul class="comment gap no-top">

					@if (@Model.mesajlist.gelenokunmamis.Count > 0)
					{
						@for (var i = 0; i < @Model.mesajlist.gelenokunmamis.Count; i++)
						{
							<li>
								<div class="comment-text" style="background-color: aliceblue;">
									
									<p style="font-weight: 600;">@Model.mesajlist.gelenokunmamis[i].MessageContent</p>
									<a href="@Url.Action("Detay", "Mesaj")/@Model.mesajlist.gelenokunmamis[i].FromUser"><span>Reply<i class="fa-solid fa-reply"></i></span></a>
								</div>
								<div class="author-name-comment">
									<div>
										<!-- Mesajdaki Şirket / Kişi Adı-->
								<h6>@Model.mesajlist.gelenokunmamis[i].UserFrom</h6>
										<!-- Son Yazışmanın Tarihi -->
			  					<span>@Model.mesajlist.gelenokunmamis[i].CreateDate</span>
									</div>
									<!-- Karşı Taraf Şirket İse Logosu, Kişi İse Aşağıdaki Görsel Kalsın. -->
			  					<img alt="man" src="https://via.placeholder.com/50x50">
								</div>
							</li>
						}

					}
					@if (@Model.mesajlist.gonderdigimiz.Count > 0)
					{
						@for (var i = 0; i < @Model.mesajlist.gonderdigimiz.Count; i++)
						{
							@if (@Model.mesajlist.gonderdigimiz[i].IsShow==false)
							{
									<li>
								<div class="comment-text" style="background-color: aliceblue;">
									<p style="font-weight: 600;">@Model.mesajlist.gonderdigimiz[i].MessageContent</p>
									<a href="@Url.Action("Detay", "Mesaj")/@Model.mesajlist.gonderdigimiz[i].ToUser"><span>Reply<i class="fa-solid fa-reply"></i></span></a>
								</div>
								<div class="author-name-comment">
									<div>
										<!-- Mesajdaki Şirket / Kişi Adı-->
								<h6>@Model.mesajlist.gonderdigimiz[i].UserFrom</h6>
										<!-- Son Yazışmanın Tarihi -->
			  					<span>@Model.mesajlist.gonderdigimiz[i].CreateDate</span>
									</div>
									<!-- Karşı Taraf Şirket İse Logosu, Kişi İse Aşağıdaki Görsel Kalsın. -->
			  					<img alt="man" src="https://via.placeholder.com/50x50">
								</div>
							</li>
							}
							else
							{
									<li>
								<div class="comment-text">
									<p>@Model.mesajlist.gonderdigimiz[i].MessageContent</p>
									<a href="@Url.Action("Detay", "Mesaj")/@Model.mesajlist.gonderdigimiz[i].ToUser"><span>Reply<i class="fa-solid fa-reply"></i></span></a>
								</div>
								<div class="author-name-comment">
									<div>
										<!-- Mesajdaki Şirket / Kişi Adı-->
								<h6>@Model.mesajlist.gonderdigimiz[i].UserFrom</h6>
										<!-- Son Yazışmanın Tarihi -->
			  					<span>@Model.mesajlist.gonderdigimiz[i].CreateDate</span>
									</div>
									<!-- Karşı Taraf Şirket İse Logosu, Kişi İse Aşağıdaki Görsel Kalsın. -->
			  					<img alt="man" src="https://via.placeholder.com/50x50">
								</div>
							</li>
							}
						
						}

					}

	  				
	  				<li class="show-all-button">
	  					<h6>4 more answers <a href="#"><span>Show All<i class="fa-solid fa-angle-down"></i></span></a></h6>
	  				</li>
	  				<li>
	  					<div class="button-gap">
							<a href="#" class="button button-2 non">Tüm Mesajları Gör<i class="fa-solid fa-angle-down"></i></a>
						</div>
					</li>
	  			</ul>
	  			
  			</div>
  		</div>
  	</div>
  </section>