@model DFN2023.Admin.Models.CompanyPageModel
@{
    ViewData["Title"] = "Category";
}
<!--begin::Container-->
<div class="container">
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">

                </span>
                <h3 class="card-label"> </h3>
            </div>
            <div class="card-toolbar">

                <!--begin::Button-->
                <a href="#" onclick="kayitModalOpen()" class="btn btn-primary font-weight-bolder">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Yeni Kayıt
                </a>
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <!--begin: Datatable-->
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Ayarlar</th>
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Adres</th>
                            <th>Açıklama</th>
                            <th>Uzun açıkl.</th>
                            <th>Durum</th>
                            @*<th>Dil</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
            <!--end: Datatable-->
        </div>
    </div>
    <!--end::Card-->
</div>


<div class="modal fade" id="exampleModalSizeLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kategori Ekle/Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label>
                        Marka Adı
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_BrandName">
                </div>

                <div class="form-group">
                    <label>
                        Resmi Adı
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_OfficialName">
                </div>

                <div class="form-group">
                    <label>
                        Kısa Açıklama
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_ShortDescription">
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">
                        Detaylı Açıklama
                        <span class="text-danger">*</span>
                    </label>
                    <textarea class="form-control" id="p_DetailDescription" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label>
                        Vergi Dairesi
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_TaxOffice">
                </div>

                <div class="form-group">
                    <label>
                        Vergi Numarası
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_TaxNo">
                </div>

                <div class="form-group">
                    <label>
                        Şirket Tipi
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_CompanyTypeId" class="form-control">
                        <option value="0">Tip Seçiniz..</option>

                        @for (int i = 0; i < Model.CompanyType.Count; i++)
                        {
                            <option value="@Model.CompanyType[i].Id">@Model.CompanyType[i].TypeName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        Resmi Adres
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_OfficialAddress">
                </div>
                <div class="form-group">
                    <label>
                        Resmi Ülke
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_OfficialCountryId" class="form-control">
                        <option value="0">Ülke Seçiniz..</option>

                        @for (int i = 0; i < Model.OfficialCountry.Count; i++)
                        {
                            <option value="@Model.OfficialCountry[i].Id">@Model.OfficialCountry[i].Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        Resmi Şehir
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_OfficialCityId" class="form-control">
                        <option value="0">Şehir Seçiniz..</option>

                        @for (int i = 0; i < Model.OfficialCity.Count; i++)
                        {
                            <option value="@Model.OfficialCity[i].Id">@Model.OfficialCity[i].Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        Resmi İlçe
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_OfficialCountyId" class="form-control">
                        <option value="0">İlçe Seçiniz..</option>

                        @for (int i = 0; i < Model.OfficialCounty.Count; i++)
                        {
                            <option value="@Model.OfficialCounty[i].Id">@Model.OfficialCounty[i].Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        Haritadaki Adres
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_OfficialAddress">
                </div>
                <div class="form-group">
                    <label>
                        Haritadaki Ülke
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_MapCountryId" class="form-control">
                        <option value="0">Ülke Seçiniz..</option>

                        @for (int i = 0; i < Model.MapCountry.Count; i++)
                        {
                            <option value="@Model.MapCountry[i].Id">@Model.MapCountry[i].Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        Haritadaki Şehir
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_MapCityId" class="form-control">
                        <option value="0">Şehir Seçiniz..</option>

                        @for (int i = 0; i < Model.MapCity.Count; i++)
                        {
                            <option value="@Model.MapCity[i].Id">@Model.MapCity[i].Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        Haritadaki İlçe
                        <span class="text-danger">*</span>
                    </label>
                    <select id="p_MapCountyId" class="form-control">
                        <option value="0">İlçe Seçiniz..</option>

                        @for (int i = 0; i < Model.MapCounty.Count; i++)
                        {
                            <option value="@Model.MapCounty[i].Id">@Model.MapCounty[i].Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        Koordinat X
                    </label>
                    <input type="text" class="form-control" id="p_MapX">
                </div>

                <div class="form-group">
                    <label>
                        Koordinat Y
                    </label>
                    <input type="text" class="form-control" id="p_MapY">
                </div>

                <div class="form-group">
                    <label>
                        Email
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_Email">
                </div>
                <div class="form-group">
                    <label>
                        Telefon
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_Phone">
                </div>
                <div class="form-group">
                    <label>
                        Mobil
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="p_Mobile">
                </div>

                <div class="form-group">
                    <label>
                        Kuruluş Yılı
                    </label>
                    <input type="text" class="form-control" id="p_YearFounded">
                </div>

                <div class="form-group">
                    <label>
                        Logo
                    </label>
                    <input type="text" class="form-control" id="p_Logo">
                </div>
                <div class="form-group">
                    <label>
                        Ek
                    </label>
                    <input type="text" class="form-control" id="p_Attachment">
                </div>

                <div class="form-group">
                    <label>
                        Facebook
                    </label>
                    <input type="text" class="form-control" id="p_Facebook">
                </div>
                <div class="form-group">
                    <label>
                        Instagram
                    </label>
                    <input type="text" class="form-control" id="p_Instagram">
                </div>

                <div class="form-group">
                    <label>
                        Tiktok
                    </label>
                    <input type="text" class="form-control" id="p_Tiktok">
                </div>
                <div class="form-group">
                    <label>
                        Youtube
                    </label>
                    <input type="text" class="form-control" id="p_Youtube">
                </div>

                <div class="form-group">
                    <label>
                        Whatsapp
                    </label>
                    <input type="text" class="form-control" id="p_Whatsapp">
                </div>
                <div class="form-group">
                    <label>
                        Web Sitesi
                    </label>
                    <input type="text" class="form-control" id="p_Website">
                </div>

                <div class="form-group">
                    <label>
                        Admin Notları
                    </label>
                    <input type="text" class="form-control" id="p_AdminNotes">
                </div>


                <div class="form-group">
                    <label>
                        Pasif/Aktif
                    </label>

                    <span class="switch">
                        <label>
                            <input type="checkbox" name="select" id="p_durum">
                            <span></span>
                        </label>
                    </span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
                <button type="button" onclick=" seriKaydet()" class="btn btn-success font-weight-bold">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@*----------------------------------------------------Resim  Modal----------------------------------------------------*@
<div class="modal fade" id="boatImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Şirket Görselleri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            
            <div class="modal-header" style="display: flow-root !important;">
                <button type="button" onclick=" resimEkleModalOpen() " class="btn btn-success font-weight-bold">Şirkete Görsel Ekle</button>
                


            </div>

            <div class="modal-body">


                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-checkable" id="kt_datatableImage" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Sıralama</th>
                                <th>Ayarlar</th>
                                <th>ID</th>
                                <th>Ürün</th>
                                @*<th>Görsel Tipi</th>*@
                                <th>Resim</th>
                                <th>Açıklama</th>
                                <th>Aktif/Pasif</th>
                                @*<th>Sıralama</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



@*----------------------------------------------------Resim Ekle Modal----------------------------------------------------*@
<div class="modal fade" id="resimEkleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: #f2f3f9;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Şirket Görsel Ekle/Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    Her bir görseli en fazla 1 Mb olacak şekilde ayarlamayı unutmayınız. <br /><ul><li>Üst görsel: 1920 x 1280 px</li><li>Üst görsel mobil versiyon: 600 x 1000 px</li><li>İç / dış görsel: 1920 x 1080 px</li><li>Yerleşim planı: 900 x 600 px</li></ul>
                </div>
                @*<label>Görsel Tipi </label>
                <div class="form-group row">
                    <div class="dropdown bootstrap-select form-control dropup">
                        <select id="r_ImageType" class="form-control selectpicker" data-size="7"
                                data-live-search="true" tabindex="null">
                            <option value="0">Görsel Tipi Seçiniz...</option>
                            <option value="1">Üst Görsel</option>
                            <option value="6">Üst Görsel Mobil Versiyon</option>
                            <option value="2">İç / Dış Görseller</option>
                            <option value="3">Yerleşim Planı (opsiyonel)</option>
                            <option value="4">Üst Metin Yanı Görsel (opsiyonel)</option>
                            <option value="5">Üst Metin Ödül İkonları (opsiyonel)</option>

                        </select>
                    </div>
                </div>*@

                <div class="form-group">
                    <label>
                        Görsel :
                    </label>
                    <div class="image-input image-input-outline" id="p_Foto1" style="  ">
                        <div class="image-input-wrapper" style=""></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="profile_avatar" id="p_Foto1x" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">
                        Açıklama
                        <span class="text-danger">*</span>
                    </label>
                    <textarea class="form-control" id="r_ImageDesc" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label>
                        Sıralama
                    </label>
                    <input type="number" class="form-control" placeholder="...." id="r_RowNum">
                </div>

                <div class="form-group">
                    <label>
                        Pasif/Aktif
                        <span class="text-danger">*</span>
                    </label>
                    <span class="switch">
                        <label>
                            <input type="checkbox" checked="checked" name="select" id="r_Status">
                            <span></span>
                        </label>
                    </span>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
                <button type="button" onclick=" urunResimKaydet()" class="btn btn-success font-weight-bold">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<!--end::Container-->
@section Scripts{

    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var hst = "@Url.Action("getCompany", "Company")";

        var hst11 = "@Url.Action("getCompanyImages", "Company")";
        var hst12 = "@Url.Action("CreatedCompanyImage", "Company")";
        var hst13 = "@Url.Action("DeleteCompanyImage", "Company")";
        var hst14 = "@Url.Action("UploderImage", "Company")";
    </script>
    <script>
        var website = "@ViewData["website"]";
        var lngg = "@Model.language";
        var lng = "@Model.lang";
    </script>
    <script src="~/assets/custom/company/company.js"></script>
    <script src="~/assets/custom/common.js"></script>

}
